@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

html {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  margin: 0;

  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;

  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  padding: 8px 50px;
  font-family: 'PT Sans';
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;

  background-color: #756157;
  border-radius: 4px;
}

.button-search {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  border: none;
}

.button-filter {
  background-color: #82B3D3;
  border: none;
}

.button-heart {
  background-color: #82B3D3;
  border: none;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation {
  display: flex;
  width: 1200px;
  height: 64px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 440px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.navigation-user {
  max-width: 300px;
  margin-left: auto;
}

.navigation-link {
  display: block;
  padding: 20px 16px;

  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  text-decoration: none;
  text-transform: capitalize;
  color: #000000;

  background-color: #ffffff;
}

.navigation-logo {
  margin-right: 28px;
  margin-left: 70px;
}

.navigation-user .navigation-link {
  width: 20px;
  height: 20px;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1200px;
  margin: 0 auto;
}

.hero {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 51px 371px 82px;


  background-image: url("../images/vector.svg"), url("../images/index-background.jpg");
  background-size: 100% auto;
  background-position: center bottom, center;
  background-repeat: no-repeat;
  background-color: #3F5E72;
}

.logo-welcome {
  display: block;
  margin: 0 auto;
}

.advantages-title {
  margin-top: 69px;
  margin-bottom: 25px;

  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #000000;

  background-color: #ffffff;
}

.advantages-paragraph {
  margin-top: 0;
  margin-bottom: 90px;

  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);

}

.block-white {
  margin: 0;
  padding: 92px 112px 30px;
  color: #ffffff;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
}
.block-white-2 {
  margin: 0;
  padding: 30px 85px 111px;
  color: #FFFFFF;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.advantages-item {
  display: flex;
  flex-wrap: wrap;
}

.block-blue {
  flex-direction: column;
  width: 400px;
  margin: 0;
  text-align: center;
}
.advantages-photo {
  margin: 0;
  padding: 0;
}
.block-short {
  flex-direction: column;
  width: 400px;
  margin: 0;
  text-align: center;
  min-height: 384px;
}
.middle-row {
  margin: 0;
  padding: 103px 112px 30px;
}
.middle-row-description {
  margin: 0;
  padding: 30px 85px 121px;
}







.advantages-item:nth-child(odd) {
  color: #ffffff;;
  background-color: #82B3D3;
}

.advantages-item:nth-child(even) {
  background-color: rgba(131, 179, 211, 0.12);;
}

.advantages-item:nth-child(3) {
  color: #333333;
  background-color: rgba(131, 179, 211, 0.2);
}


.recommendations-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  margin: 0;
  padding: 30px 85px;
}

.recommendations-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}
.recommendations-item {
  width: 400px;
  min-height: 384px;
}
.recommendations-description {
  margin: 0;
  padding: 30px 85px 81px;
  padding-top: 0;
}
.recommendations-icon {
  padding-top: 80px;
}

.gray {
  background-color: rgba(131, 179, 211, 0.12);
}

.search {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  padding: 96px 304px;
}

.search-title {
  margin: 0;
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;

  background-color: #ffffff;
}

.search-description {
  margin: 0;
  padding-bottom: 54px;

  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.subscribe {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 96px 258px 104px;
  background-image: url("../images/subscribe-background.jpg");
  background-color: #000000;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-title {
  margin: 0;
  padding-bottom: 20px;

  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

.subscribe-description {
  margin: 0;
  padding-bottom: 54px;

  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
}

.subscribe-form {
  flex-direction: row;
  margin: 0;
  padding: 0;

  border: none;
}

.button-subscribe {
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  background-color: #82B3D3;
  border-radius: 0 4px 4px 0;
  width: 232px;
  height: 52px;
  text-transform: uppercase;
  border: none;

  padding: 0;
  margin: 0;
}

.email {
  font-family: 'PT Sans';
  width: 447px;
  height: 52px;
  padding: 0;
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #000000;

  background-color: #F2F2F2;
  border-radius: 4px 0 0 4px;
  border: none;
}

.page-footer {
  display: flex;
  width: 1200px;
  min-height: 120px;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 0;
}

.page-footer-container {
  display: flex;
  width: 1060px;
  margin: 0;
  padding: 40px 70px 30px;
}

.footer-social {
  width: 190px;
}

.footer-social-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-social-item {
  display: flex;
  align-items: center;
  width: 47px;
  height: 40px;
  margin: 0;
}

.footer-phone {
  width: 331px;
  margin-left: auto;
  margin-right: auto;

  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
}

.footer-logo {
  min-width: 115px;
}

.filter-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: auto;
  margin: 0;
  padding: 35px 70px 70px;
  color: #ffffff;

  background-color: #756157;
  background-image: url("../images/inner-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.catalog-filter {
  display: flex;
}

.inner-header {
  margin-top: 0;
  margin-bottom: 40px;
}

.inner-header-title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
}
.breadcrumbs-hotel {
  margin-left: 28px;
}
.catalog-filter-group {
  margin: 0;
  margin-right: 70px;
  margin-bottom: 3px;
  padding: 0;
  border: none;
  width: 150px;
}
.catalog-filter-title {
  margin: 0;
  padding-bottom: 32px;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  text-transform: capitalize;
}

.catalog-filter-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.catalog-price {
  margin: 0;
  margin-left: 70px;
  margin-right: 70px;
}
.catalog-button {
  margin: 0;
  margin-top: 56px;
}
.button-reset {
  padding: 8px 58px;
  border: none;
  background-color: transparent;
}

.result-search-item {
  padding: 17px 16px;
  border: 2px solid #000000;
  border-radius: 4px;
  width: 16px;
  height: 14px;
}
.light-border {
  border: 2px solid #E5E5E5;
}
.result {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #000000;
}

.sorting {
display: flex;
justify-content: space-between;
align-items: center;
padding: 0;
}

.result-search {
  display: flex;
  flex-direction: column;
  padding: 50px 70px 60px;
}

.result-search-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
  padding: 0;
  gap: 8px;
  list-style-type: none;
}

.select-control {
  padding: 14px 20px;
  width: 292px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

.hotel-list {
  display: grid;
  grid-template-columns: 340px 340px 340px;
  margin: 40px 0;
  padding: 0;
  gap: 20px;
}

.hotel-card {
  display: grid;
  grid-template-columns: 140px 140px;
  gap: 16px 20px;
  margin: 0;
  padding: 20px;
  border: 1px solid #E6E6E6;
  border-radius: 4px;
  align-items: center;
}


.hotel-card-link {
  grid-column: 1 / 3;
}

.hotel-card-link-subtitle {
  grid-column: 1 / 3;
  margin: 0;
}

.hotel-card-description {
  grid-column: 1 / 2;
}

.hotel-card-price {
  grid-column: 2 / 3;
  justify-self: end;

}
.button-card {
  grid-column: 1 / 2;
  padding: 8px 26px;
}
.button-heart {
  grid-column: 2 / 3;
  padding: 8px 20px;
  font-family: 'PT Sans';
  text-align: center;
  text-transform: uppercase;
}

.rating-super-star{
  grid-column: 1 / 2;
  background-image: url("../images/star.svg");
  background-repeat: no-repeat;
  margin: 0;
}

.rating {
  grid-column: 2 / 3;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  margin: 0;
  padding: 9px 22px 8px 23px;
  border: none;
}

.hotel-card-subtitle {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin: 0;
}

.hotel-card-link {
  text-decoration: none;
}
.green {
  padding: 8px 18px;
  background-color: #7DB54F;
}


.pagination {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-item:not(:last-child) {
  margin-right: 8px;
}

.pagination-link {
  display: block;
  box-sizing: border-box;
  padding: 11px 23px 12px 24px;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background: #82B3D3;
  border-radius: 4px;
  text-decoration: none;
}
.pagination-current {
  color: #000000;
  background-color: #F2F2F2;
}
.pagination-point {
  color: #000000;
  background-color: #FFFFFF;
}

/*.subscribe-inner {
  background-color: #FFFFFF;
}

.subscribe-title-inner {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  background-color: #ffffff;
}

.subscribe-description-inner {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
  background-color: #ffffff;
}
*/
